<h2> {{ word }}</h2>

{% if results == false %}
  <p> No Definitions Found </p>

{% else %}
  <ol>
  {% for result in results %}
    <li>
    {{ result.word }}
      <ul>
    {% for meaning in result.meanings %}
      <li>
      <span>{{ meaning.partOfSpeech}}</span>
        <ol>
      {% for definition in meaning.definitions %}
        <li> {{ definition.definition }}</li>
      {%endfor%}
        </ol>
      </li>
      {%endfor%}
      </ul>
    </li>
  {% endfor %}
  </ol>
{% endif %}
